.skillBar {
  display: flex;
  width: 50%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  flex-direction: column;
  margin: 0.5rem auto;
  .skillBarName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .skillBarLevel {
    color: var(--text-color-dark);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
  }
  .resultDescription {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    @media screen and (max-width: 768px) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: 1rem;
    }
  }
}
